/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-variation-settings: "wgth" var(--weight-main-font);
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--color-gradient-1) 0,
      var(--color-gradient-1) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--color-gradient-1) 0,
      var(--color-gradient-1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      var(--color-gradient-transition-1) 0%,
      var(--color-gradient-transition-1) 0.1%,
      var(--color-gradient-transition-2) 100%
    );
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header,
.main,
.footer {
  margin-inline: clamp(0rem, -8.187rem + 34.93vw, 23.25rem);
  background-color: var(--background-color);
}

.header {
  margin-block: 100px 102px;
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  padding-block-end: 25px;
  font-family: var(--accent-font);
  font-variation-settings: "wgth" var(--weight-main-text) "slnt" normal;
  border: 2px solid var(--accent-color);
}

.header__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-span {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  padding-block-end: 20px;
}

.text-label {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  padding-block-end: 25px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: clamp(9.625rem, 6.082rem + 15.117vw, 19.688rem);
}

.theme-menu__item {
  height: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  padding-inline: 0;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -21px;
  opacity: 0.6;
  animation: arow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
}

@keyframes arow {
  from {
    left: -21px;
  }
  to {
    left: -17px;
  }
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus::after {
  transform-origin: left;
  transform: scaleX(1);
  opacity: 0.6;
  transition: 0.3s ease;
}

.card-sprint {
  font-family: var(--main-font);
  border: 2px solid var(--accent-color);
}

.card-sprint:not(:last-child) {
  margin-block-end: 50px;
}

.card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: var(--weight-accent-text);
  line-height: normal;
  padding: 2px 10px 8px;
  border-block-end: 2px solid var(--accent-color);
}

.text-card {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: var(--weight-main-text);
  padding: 25px 25px 0;
}

.personal-text {
  padding-block: 27px 21px;
}

.images {
  display: flex;
  justify-content: flex-end;
  border-block-end: 2px solid var(--accent-color);
}

.decor-element-images {
  font-family: var(--accent-font);
  font-variation-settings: "wgth" var(--weight-main-text) "slnt" normal;
  font-size: 14px;
  line-height: normal;
  position: absolute;
  z-index: 1;
  padding-inline-end: clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
  padding-block-start: 25px;
  opacity: 0.5;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .decor-element-images {
    -webkit-text-stroke: 0.5px var(--text-stroke-color);
    /* text-stroke: 0.5px var(--text-stroke-color); */
  }
}

.section__image {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.invert__image {
  filter: invert(100%);
}

.hue-rotate__image {
  filter: hue-rotate(0.78turn);
}

.sepia__image {
  filter: sepia(0.6);
}

.multiple__filter {
  filter: hue-rotate(90deg) blur(2px)
    drop-shadow(2px 2px 4px var(--accent-color));
}

.blur__image {
  filter: blur(4px);
}

.brightness__image {
  filter: brightness(30%);
}

.grayscale__image {
  filter: grayscale(80%);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 35px;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.card__icon-button:focus {
  border: none;
}
/* Анимация сердца */
.sparks {
  opacity: 0;
}

.heart .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.heart .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.heart:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

@keyframes scale-like {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

@keyframes sparks-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: scale-like 0.3s ease-in 0.1s 1 normal;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s 1 normal;
}

.interactive-text__button {
  position: relative;
  background-color: transparent;
  padding-block: 9px;
  width: 130px;
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.interactive-text__button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.interactive-text__button:hover::after {
  transform: scaleX(1);
}

.interactive-text__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__text {
  font-family: var(--accent-font);
  font-variation-settings: "wgth" var(--weight-main-text) "slnt" normal;
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: clamp(6.375rem, 6.309rem + 0.282vw, 6.563rem);
}

.footer-button {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: transparent;
}

.footer-button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.footer-button:hover::after {
  transform: scaleX(1);
}

.footer-button-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  height: clamp(5.25rem, 5.888rem + -2.723vw, 3.438rem);
  padding-block: 15px;
}

.floppy-img {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 2;
  color: var(--floppy-color);
  mix-blend-mode: difference;
}

.dialog {
  background-color: var(--background-color);
  min-inline-size: 341px;
  max-inline-size: 357px;
  padding-inline: 42px;
  margin-inline: auto;
  border: 2px solid var(--accent-color);
}

.dialog-block {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
}

.dialog-text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-variation-settings: "wgth" var(--weight-main-text) "slnt" normal;
  font-size: 14px;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  padding-block-end: 30px;
}

.dialog .floppy-img {
  width: 39px;
  height: 39px;
}

.close {
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-variation-settings: "wgth" var(--weight-main-text) "slnt" normal;
  font-size: 14px;
  line-height: 90%; /* 12.6px */
  text-transform: uppercase;
  width: 100%;
}

.dialog::backdrop {
  background-color: black;
  opacity: 0.75;
  backdrop-filter: blur(7px);
}
